<div class="ttt__row">
  {{ttt-item noBorderTop=true noBorderLeft=true value=tttStatus.[0].[0] i=0 j=0 didSelect=(action 'didSelect')}}
  {{ttt-item noBorderTop=true value=tttStatus.[0].[1] i=0 j=1 didSelect=(action 'didSelect')}}
  {{ttt-item noBorderTop=true noBorderRight=true value=tttStatus.[0].[2] i=0 j=2 didSelect=(action 'didSelect')}}
</div>
<div class="ttt__row">
  {{ttt-item noBorderLeft=true value=tttStatus.[1].[0] i=1 j=0 didSelect=(action 'didSelect')}}
  {{ttt-item value=tttStatus.[1].[1] i=1 j=1 didSelect=(action 'didSelect')}}
  {{ttt-item noBorderRight=true value=tttStatus.[1].[2] i=1 j=2 didSelect=(action 'didSelect')}}
</div>
<div class="ttt__row">
  {{ttt-item noBorderBottom=true noBorderLeft=true value=tttStatus.[2].[0] i=2 j=0 didSelect=(action 'didSelect')}}
  {{ttt-item noBorderBottom=true value=tttStatus.[2].[1] i=2 j=1 didSelect=(action 'didSelect')}}
  {{ttt-item noBorderBottom=true noBorderRight=true value=tttStatus.[2].[2] i=2 j=2 didSelect=(action 'didSelect')}}
</div>
